
<!DOCTYPE html>
<html>
<head>
	
<style>

body {height:100%;
    width:100%;
    background-image: url('assets/smallturn-bg.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top;
    margin-left: 0 pixels ;
}
</style>
</head>

<body>
	
<h1>A long time ago, in a nightclub far, far away.....</h1>
<%= button_to "Generate Your Galactic DJ Name!",dj_swud_show_path %>

</body>
</html>
